html,body{
	margin: 0px;
	height: 100%
}
.container{
	height: 100%;
	 background-image: url("container.png");
}
.content{
	background-image: url("content.jpeg");
	height: 500px;
	width: 500px;
	background-repeat: no-repeat;
	background-position: center;
	overflow: scroll;
	background-attachment: local;

}
p{
	background-color: #ff0000;
}

footer{
       width: 50%;
       margin: auto;
       position: relative;
}
footer .facebook{
   background: url(footer.png) -195px -10px;
	width: 200px;
	left: 0px;
    position: absolute;
	height: 160px;

}
footer .insta{
	background: url(footer.png) 0px -10px;
	width: 200px;
	left:200px;
	position: absolute;
	height: 160px;
}
footer .twitter{
	background: url(footer.png) -390px -10px;
	width: 200px;
	left: 400px;
	position: absolute;
	height: 160px;
}
#animate{
	height: 100px;
	width: 100px;
	background-color: #ff0000;
	animation-name: example;
	animation-duration: 2s;
	animation-delay: 4s;
	animation-iteration-count: 2;
}
@keyframes example {
  0%   {opacity: 1;}
  50%  {opacity: 0;}
  100%  {opacity: 0.5;}
}
#animate-1{
	height: 100px;
	width: 200px;
	background-color: #ff00ff;
	border: 1px solid #000;
}
#animate-1:hover{
	width: 100px;
	height: 200px;
	background-color: #000;
	border: 2px solid #ff00ff;
	transform:scale(2,	3);
	transition-duration: 3s;
}